* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
}

/* HERO */
.hero {
  min-height: 100vh;
  background-image: url("logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


header h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

header p {
  font-size: 1.3rem;
  max-width: 600px;
  color: #cccccc;
}

/* BUTTON */
.btn {
  margin-top: 40px;
  padding: 15px 40px;
  border: 2px solid #00ff88;
  color: #00ff88;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #00ff88;
  color: #000000;
}

/* SECTIONS */
section {
  padding: 100px 20px;
  max-width: 1100px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #00ff88;
  letter-spacing: 2px;
}

/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #111111;
  padding: 30px;
  border-left: 4px solid #00ff88;
}

.card h3 {
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  background: #000000;
  text-align: center;
  padding: 30px;
  color: #777777;
  font-size: 0.9rem;
}
.logo {
  width: 220px;
  max-width: 80%;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 1.2rem;
  color: #cccccc;
  margin-bottom: 30px;
  text-align: center;
}
