* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
}

/* HERO */
.hero {
  min-height: 100vh;
  background-image: url("logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.overlay {
  width: 100%;
  padding: 60px 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0)
  );
}


.hero h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 15px;
  color: #ff7a00; /* ARANCIONE */
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffffff;
}



header h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

header p {
  font-size: 1.3rem;
  max-width: 600px;
  color: #cccccc;
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 14px 36px;
  border: 2px solid #ff7a00;
  color: #ff7a00;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ff7a00;
  color: #000000;
}

/* SECTIONS */
section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
}


h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #ff7a00;
  letter-spacing: 2px;
}


/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #0f0f0f;
  padding: 30px;
  border: 1px solid #222;
}

.card h3 {
  color: #ffffff;
  margin-bottom: 10px;
}


/* FOOTER */
footer {
  background: #000000;
  text-align: center;
  padding: 25px;
  color: #ffffff;
  font-size: 0.85rem;
  border-top: 1px solid #222;
}

.logo {
  width: 220px;
  max-width: 80%;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 1.2rem;
  color: #cccccc;
  margin-bottom: 30px;
  text-align: center;
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-outline {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-outline:hover {
  background-color: #ffffff;
  color: #000000;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.product-card {
  background: #0f0f0f;
  padding: 25px;
  border: 1px solid #222;
  text-align: center;
}

.product-img {
  height: 180px;
  background: #1a1a1a;
  margin-bottom: 20px;
}

.product-card h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

.product-card p {
  color: #cccccc;
  margin-bottom: 20px;
}

.btn.small {
  padding: 10px 22px;
  font-size: 0.85rem;
}
